.hero {
  background-image: linear-gradient(to left, rgba(102, 18, 102, 0.75) 5%, rgba(202, 138, 202, 0.5) 50%, rgba(202, 138, 202, 0.5) 100%), url('../img/hero-bg.jpg');
  height: calc(100vh - 6.5rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  margin-top: 6.5rem;

  @include respond(bp-750) {
    background-position-x: 50%;
  }

  @include respond(bp-600) {
    background-position-x: 50%;
  }

  @include respond(bp-450) {
    background-position-x: 50%;
    height: calc(80vh - 6.5rem);
  }

  &__wording {
    padding: 1.5rem 5rem;
  }

  &__heading {
    font-size: 10em;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $primary-color 20%, $tertiary-color 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @include respond(bp-900) {
      margin-top: 3rem;
      // font-size: 12em;
    }

    @include respond(bp-750) {
      margin-top: 5rem;
      font-size: 12em;
    }

    @include respond(bp-600) {
      margin-top: 7rem;
      font-size: 11em;
    }

    @include respond(bp-450) {
      font-size: 8rem;
      margin-top: 10rem;
    }
  }

  &__paragraph {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-shadow: 3px 3px 15px rgba(100, 100, 100, 0.8);
  }
}
