/* ################################ Variables ############################### */

$primary-color: #ca8aca;
$secondary-color: #fedd00;
$tertiary-color: #fff9c0;

/* ########################## Media query variables ######################### */

/* 
bp-1050: 65.625em; // 1050px
bp-900: 56.25em; // 900px
bp-750: 46.875em; // 750px
bp-600: 37.5em; // 600px
bp-450: 28.125em; // 450px
*/

/* ############################ Media query mixin ########################### */

@mixin respond($breakpoint) {
  @if $breakpoint == bp-1050 {
    @media (max-width: 65.625em) {
      @content;
    }
  }
  @if $breakpoint == bp-900 {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == bp-750 {
    @media (max-width: 46.875em) {
      @content;
    }
  }
  @if $breakpoint == bp-600 {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == bp-450 {
    @media (max-width: 28.125em) {
      @content;
    }
  }
  
}
