// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/* ############################## CTA version 1 ############################# */

.cta {
  display: inline-flex;
  align-items: center;
  font-size: 1.8rem;

  @media (max-width: 400px) {
    font-size: 1.6rem;
  }
  

  &__products {
    display: inline-block;
  }
  
  &__products:link,
  &__products:visited {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    margin-right: 3rem;
    padding: 0.7rem 1.2rem;
    background-color: $tertiary-color;
    border-radius: 10rem;
    box-shadow: 1px 1px 1rem 1px rgba(100, 100, 100, 0.8);
    transition: all 0.3s;
  }

  &__products:hover,
  &__products:focus {
    transform: translateY(-5px);
    box-shadow: 1px 1px 2rem 1px rgba(100, 100, 100, 0.8);
  }  

  &__buy {
    display: flex;
    align-items: center;
  }
  &__buy:link,
  &__buy:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 0.7rem 1.2rem;
    background-color: $primary-color;
    border-radius: 10rem;
    box-shadow: 1px 1px 1rem 1px rgba(100, 100, 100, 0.8);
    transition: all 0.3s;

    & > span {
      margin-right: 0.5rem;
    }
  }

  &__buy:hover,
  &__buy:focus {
    transform: translateY(-5px);
    box-shadow: 1px 1px 2rem 1px rgba(100, 100, 100, 0.8);
  }

  &__icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
  }
}


/* ############################## CTA version 2 ############################# */

// .cta {
//   display: inline-flex;
//   align-items: center;
//   font-size: 1.8rem;
  

//   &__products {
//     display: inline-block;
//   }
  
//   &__products:link,
//   &__products:visited {
//     text-decoration: none;
//     color: #000;
//     text-transform: uppercase;
//     margin-right: 3rem;
//     padding: 0.7rem 1.2rem;
//     border: 3px solid $secondary-color;
//     // background-color: $secondary-color;
//     border-radius: 10rem;
//     box-shadow: 1px 1px 1rem 1px rgba(100, 100, 100, 0.8);
//     transition: all 0.3s;
//   }

//   &__products:hover,
//   &__products:focus {
//     transform: translateY(-5px);
//     box-shadow: 1px 1px 2rem 1px rgba(100, 100, 100, 0.8);
//   }  

//   &__buy {
//     display: flex;
//     align-items: center;
//   }
//   &__buy:link,
//   &__buy:visited {
//     text-decoration: none;
//     text-transform: uppercase;
//     color: #000;
//     padding: 0.7rem 1.2rem;
//     /* Add 3px border because the other button also has it. Thus, their width & height will be equal. */
//     border: 3px solid $primary-color;
//     background-color: $primary-color;
//     border-radius: 10rem;
//     box-shadow: 1px 1px 1rem 1px rgba(100, 100, 100, 0.8);
//     transition: all 0.3s;

//     & > span {
//       margin-right: 0.5rem;
//     }
//   }

//   &__buy:hover,
//   &__buy:focus {
//     transform: translateY(-5px);
//     box-shadow: 1px 1px 2rem 1px rgba(100, 100, 100, 0.8);
//   }

//   &__icon {
//     display: inline-block;
//     width: 2.5rem;
//     height: 2.5rem;
//   }
// }