/*
   ###    ########   #######  ##     ## ########
  ## ##   ##     ## ##     ## ##     ##    ##
 ##   ##  ##     ## ##     ## ##     ##    ##
##     ## ########  ##     ## ##     ##    ##
######### ##     ## ##     ## ##     ##    ##
##     ## ##     ## ##     ## ##     ##    ##
##     ## ########   #######   #######     ##
*/

.about {
  background-image: url('../img/about/about-bg.jpg');
  height: 55rem;
  width: auto;
  margin-top: 6.5rem;
  background-size: cover;

  @media (max-width: 800px) {
    height: 65rem;
    background-position: 70%;
  }
  @media (max-width: 650px) {
    height: 70rem;
  }
  @media (max-width: 600px) {
    height: 75rem;
  }

  &__clipper {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    clip-path: circle(70.7% at 0% 50%);
    -webkit-clip-path: circle(70.7% at 0% 50%);

    @media (max-width: 500px) {
      background-color: rgba(0, 0, 0, 0.5);
      clip-path: circle(150% at 0% 50%);
      -webkit-clip-path: circle(150% at 0% 50%);
    }
    @media (max-width: 450px) {
      display: flex;
      justify-content: center;
    }
  }

  &__content {
    height: 100%;
    width: 50%;
    padding: 1.5rem 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 800px) {
      width: 55%;
    }

    @media (max-width: 600px) {
      padding-left: 2rem;
      padding-right: 2rem;
      width: 60%;
    }

    @media (max-width: 500px) {
      width: 70%;
      padding: 3rem;
      padding-top: 2rem;
    }

    @media (max-width: 450px) {
      width: 80%;
    }
    @media (max-width: 400px) {
      width: 90%;
    }
    @media (max-width: 350px) {
      width: 95%;
    }

    & h2 {
      @media (max-width: 1050px) {
        line-height: 1;
      }
      @media (max-width: 650px) {
        font-size: 4.5rem;
      }
      @media (max-width: 600px) {
        font-size: 4rem;
      }
      @media (max-width: 550px) {
        font-size: 3.7rem;
      }
    }

    & h3 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: 1px;

      @media (max-width: 600px) {
        font-size: 2rem;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
      }
      @media (max-width: 500px) {
        color: white;
      }
    }
  }

  &__description {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: justify;

    @media (max-width: 750px) {
      font-size: 1.8rem;
    }
    @media (max-width: 500px) {
      color: rgb(222, 222, 222);
    }
  }

  .cta {
    @media (max-width: 600px) {
      margin-top: 1.2rem;
    }
  }
}

/*
#### ########  ########    ###
 ##  ##     ## ##         ## ##
 ##  ##     ## ##        ##   ##
 ##  ##     ## ######   ##     ##
 ##  ##     ## ##       #########
 ##  ##     ## ##       ##     ##
#### ########  ######## ##     ##
*/

.idea {
  background-image: url('../img/about/idea-bg.jpg');
  height: 55rem;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -10% 50%;

  @media (max-width: 800px) {
    height: 65rem;
    background-position: 70%;
  }
  @media (max-width: 650px) {
    height: 70rem;
  }
  @media (max-width: 600px) {
    height: 75rem;
  }

  &__clipper {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    clip-path: circle(70.7% at 100% 50%);
    -webkit-clip-path: circle(70.7% at 100% 50%);

    @media (max-width: 500px) {
      background-color: rgba(0, 0, 0, 0.5);
      clip-path: circle(150% at 100% 50%);
      -webkit-clip-path: circle(150% at 100% 50%);
    }
    @media (max-width: 450px) {
      display: flex;
      justify-content: center;
    }
  }

  &__content {
    height: 100%;
    width: 50%;
    float: right;
    padding: 0rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 800px) {
      width: 55%;
    }
    @media (max-width: 600px) {
      padding-left: 2rem;
      padding-right: 2rem;
      width: 60%;
    }
    @media (max-width: 450px) {
      width: 80%;
    }
    @media (max-width: 400px) {
      width: 90%;
    }
    @media (max-width: 350px) {
      width: 95%;
    }

    & h2 {
      @media (max-width: 1050px) {
        line-height: 1;
      }
      @media (max-width: 650px) {
        font-size: 4.5rem;
      }
      @media (max-width: 600px) {
        font-size: 4rem;
        margin-top: 1.5rem;
      }
      @media (max-width: 550px) {
        font-size: 3.7rem;
      }
    }

    & h3 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: 1px;

      @media (max-width: 600px) {
        font-size: 2rem;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
      }
      @media (max-width: 500px) {
        color: white;
      }
    }

    .cta {
      @media (max-width: 600px) {
        margin-top: 1.2rem;
      }
    }
  }

  &__description {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: justify;

    @media (max-width: 750px) {
      font-size: 1.8rem;
    }
    @media (max-width: 500px) {
      color: rgb(222, 222, 222);
    }
  }
}
