.delivery {
  margin-top: 6.5rem;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.8) 0%, rgb(255, 255, 255, 0.3) 50%), url('/img/delivery/delivery-bg.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 80vh;
  padding: 5rem 10rem;
  text-align: center;
  display: flex;
  justify-content: center;

  .delivery-container {
    background-color: rgba(230, 230, 230, 0.555);
    width: max-content;
    height: min-content;
    padding: 2.5rem;
    border-radius: 25px;

    @media (max-width: 400px) {
      min-width: 35rem;
    }

    .delivery-region {
      font-size: 2.5rem;
      margin-top: 3rem;
    }

    .delivery-details {
      margin-top: 2rem;
      font-size: 2rem;
    }
  }
}
